p {
	color: #E002FF;
}

body {
	font-size: 1em;
	color: #0035C4;
	background: white url(../images/hatsune-miku-background.png);
}

h1 {
	color: #08C9FF;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	border-radius: 50px;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 1%;
	padding-top: 1%;
	background-color: #FFFFFF
	
}

h2 {
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 4px;
	border-radius: 50px;
	margin-left: 30%;
	margin-right: 30%;
	padding-bottom: 1%;
	padding-top: 1%;
	background-color: #FFFFFF
}

#maincontent {
	text-align: center;
}

.icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-style: outset;
	max-width: 10%;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 120px;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-width: 1px;
	border-style:solid;
	transition: color 1s;
	transition: background-color 1s;
}

nav ul li a:hover {
	background-color: #555;
	color: #ffffff;
}

.trinket {
	width: 100%;
	height: 600px;
}

.active {
	background-color: #0385DA;
	color: #ffffff
}

img {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 600px) {
	nav {
		display: none;
	}
	#maincontent {
		text-align: center;
	}
	.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
}